absl-py
altair
altair_tiles
annotated-types
anywidget
APScheduler
arro3-core
asttokens
astunparse
attrs
black
blinker
cachetools
certifi
charset-normalizer
click
cloudpickle
colorama
comm
contourpy
cycler
dash
dash-core-components
dash-html-components
dash-table
decorator
et_xmlfile
exceptiongroup
executing
filelock
Flask
flatbuffers
fonttools
fsspec
future
gast
gitdb
GitPython
google-pasta
grpcio
h5py
hyperopt
idna
importlib_metadata
ipython
ipywidgets
itsdangerous
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyterlab_widgets
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mercantile
ml-dtypes
mpmath
mypy-extensions
namex
narwhals
nest-asyncio
networkx
numpy
openpyxl
opt_einsum
optree
packaging
pandas
parso
pathspec
pdoc
pillow
platformdirs
plotly
prompt_toolkit
protobuf
psygnal
pure_eval
py4j
pyarrow
pydantic
pydantic_core
pydeck
Pygments
pyparsing
pyserial
python-dateutil
python-dotenv
pytz
referencing
requests
retrying
rich
rpds-py
scikit-learn
scipy
seaborn
six
smmap
stack-data
streamlit
streamlit-plotly-events
streamlit-plotly-events2
sympy
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
tensorflow_intel
termcolor
threadpoolctl
toml
tomli
tornado
tqdm
traitlets
typing_extensions
tzdata
tzlocal
urllib3
vega-datasets
vegafusion
vl-convert-python
watchdog
wcwidth
Werkzeug
widgetsnbextension
wrapt
xyzservices
zipp
